<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <title>Sosial Media | Randi Ramli</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="Description" content="Sosial Media | Randi Ramli" />
  <meta name="Keywords" content="sosial media, whatsapp, facebook, instagram,  github, youtube" />
  <!-- TAG KEYWORD SEO -->
  <meta property="og:url" content="//www.randiramli.my.id/index.html" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="Sosial Media | Randi Ramli" />
  <meta property="og:description" content="Sosial Media website crate by Randi Ramli" />
  <meta name="copyright" content="RANDI RAMLI">
  <meta name="theme-color" content="#000">
  <!-- LINK EXTERNAL -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/site.webmanifest">
  <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Irish+Grover">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style media="screen">
    .container {
      width: 400px;
      text-align: center;
    }

    .name {
      font-weight: bold;
      font-family: "Prompt", sans-serif;
    }

    .user {
      font-family: "Sofia", sans-serif;
    }

    .link {
      font-weight: bold;
      font-family: "Irish Grover", sans-serif;
    }

    @media only screen and (max-width: 600px) {
      .container {
        width: 100%;
      }
    }
  </style>
</head>

<body>

  <div class="container mx-auto mt-8">
    <p><img class="rounded-full h-32 w-32 flex items-center justify-center mx-auto mb-4" alt="" width="391" height="391" src="https://i.ibb.co/9gCv0Vf/711900a6b4cde2f422eb4744dda1315d.webp" /></p>
    <p class="name">RANDI RAMLI</p>

    <p class="rounded-lg bg-blue-300 p-4 m-4"><a class="link" target="_blank" href="https://youtube.com/channel/UCZUKLifMUhgMPTYexVj06jQ">YOUTUBE</a></p>
    <p class="rounded-lg bg-blue-300 p-4 m-4"><a class="link" target="_blank" href="https://www.facebook.com/RndyTech">FACEBOOK</a></p>
    <p class="rounded-lg bg-blue-300 p-4 m-4"><a class="link" target="_blank" href="https://wa.me/6282347552958">WHATSAPP</a></p>
    <p class="rounded-lg bg-blue-300 p-4 m-4"><a class="link" target="_blank" href="https://instagram.com/rndytechofficial">INSTAGRAM</a></p>
    <p class="rounded-lg bg-blue-300 p-4 m-4"><a class="link" target="_blank" href="https://github.com/rndytech">GITHUB</a></p>

  </div>
</body>

</html>